@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.buttons:hover{
    -fx-border-color: #2f2626;
    -fx-border-width: 5;
}

.buttons
{
    -fx-font: 50px 'Bree Serif';
    -fx-text-fill: rgb(255,255,255);
    -fx-background-color: #5f4c4c;
    -fx-border-width: 1;
    -fx-border-color: #2f2626;
}

.buttons:focused
{
    -fx-font: 50px 'Bree Serif';
    -fx-text-fill: rgb(0,0,0);
    -fx-background-color: #ffff;
    -fx-border-width: 1;
    -fx-border-color: #2f2626;
}

.PASV{
    -fx-font: 80px 'Righteous';
    -fx-text-fill: rgb(255,255,255);
}

.mainPage{
    -fx-background-color: #404040;
}

.textArea{
    -fx-background-color: #ffff;
}
