
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");


.sections{
    -fx-background-color: #3F4E4F;
    -fx-background-radius: 10,10,10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.titles{
    -fx-font: 35px 'Secular One', sans-serif;
}

.paths{
    -fx-font: 25px 'Secular One', sans-serif;
}

.controls-bar{
    -fx-background-color: #ffff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 5,5,5;
}

.controls{
    -fx-background-color: #3F4E4F;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-font: 15px 'Barlow Condensed';
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );             
}

.plus
{
    -fx-background-color: #7DCE13;
    -fx-background-radius: 50%;
    -fx-background-insets: 0,1,2;   
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}