
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.boxes
{
    -fx-background-color: #FFDEB4;
}

.titles
{
    -fx-font: 20px 'Secular One', sans-serif;
}

.items
{
    -fx-font: 10px 'Secular One', sans-serif;
}