@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.titles{
    -fx-font: 35px 'Secular One', sans-serif;
}

.sections{
    -fx-background-color: #3F4E4F;
    -fx-background-radius: 10,10,10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
