
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.boxes
{
     -fx-background-color: #3F4E4F;
    -fx-background-radius: 10,10,10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.items{
    -fx-background-color: #ffff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 5,5,5;
    -fx-font: 20px 'Secular One', Bree Serif;
    -fx-padding: 10px;
    -fx-background-insets: 5px;
}

.controls{
    -fx-background-color: #3F4E4F;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-font: 15px 'Barlow Condensed';
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );             
}

.controls-bar{
    -fx-background-color: #ffff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 5,5,5;
}

.columns{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-color: #ffff;
    -fx-border-width: 3;
}

.titles{
    -fx-font: 25px 'Righteous';
    -fx-text-fill: white;
    -fx-background-color: #16213E;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 5,5,5;
}